extends layout 
block content
  header 
 
   
  main
  div(id="container")
   div(id="main")
    img(style="min-width:100%; margin-bottom:100px" src="/pic/about.jpg")
    div( style="display:flex; width=100%; margin-left:`10%; ")
    
      span(class="about")="Nazwa firmy:"
      span(class="about")="SkyQuest"
    div( style="display:flex; width=100%; margin-left:`10%; ")
      span(class="about")="Adres:"
      span(class="about")="ul. Lotnicza 10, 00-001 Miastowo"
    div( style="display:flex; width=100%; margin-left:`10%; ")
      span(class="about")="NIP:"
      span(class="about")="123-456-78-90"
    div( style="display:flex; width=100%; margin-left:`10%; ")
      span(class="about")="REGON:"
      span(class="about")="987654321"
    div( style="display:flex; width=100%; margin-left:`10%; ")
      span(class="about")="Telefon:"
      span(class="about")="+48 123 456 789"
    div( style="display:flex; width=100%; margin-left:`10%; ")
      span(class="about")="Email:"
      span(class="about")="info@skyQuest.com"