extends layout 
block content
  header 
 
   
  main
  div(id="container")
    div(id="main")
      img(style="min-width:100%; margin-bottom:100px" src="/pic/help.jpg")
      div( style="display:flex; width=100%; margin-left:`10%; ")
        img(src="/pic/bagae.svg" style="min-width:300px; margin-left:auto; margin-right:auto; " )
      div 
        p(class="akapit" style="text-align:center; font-size:50px;")="Bagaż podręczny"
        p(class="akapit")="Podróżni mają prawo do jednego bagażu podręcznego, który mogą zabrać na pokład samolotu."
        p(class="akapit")=" Standardowe wymiary i wagi bagażu podręcznego różnią się w zależności od linii lotniczej, ale zazwyczaj mieszczą się w zakresie 55 x 40 x 23 cm i 7-10 kg."
        p(class="akapit")="W bagażu podręcznym można mieć również osobiste przedmioty, takie jak laptop, torebka czy aparat fotograficzny."
    
      div 
        p(class="akapit" style="text-align:center; font-size:50px;")="Bagaż rejestrowany"
        p(class="akapit")="Bagaż rejestrowany to bagaż, który zostaje oddany na lotnisku i jest transportowany w luku bagażowym samolotu"
        p(class="akapit")=" Limity wagowe i ilościowe różnią się w zależności od linii lotniczej. Standardowo pasażerowie ekonomicznej klasy podróży mają prawo do jednego lub więcej bagaży o łącznej wadze do określonego limitu."
        p(class="akapit")="W przypadku przekroczenia limitów bagażu, linie lotnicze mogą naliczyć dodatkowe opłat."
      div(style="width:100%;")
        img(src="/pic/departure.svg" style="min-width:300px; margin-left:35%; margin-right:auto; " )
      div 
        p(class="akapit" style="text-align:center; font-size:50px;")="Odprawa na lotnisku:"
        p(class="akapit")="Pasażerowie, którzy nie odprawili się online lub mają potrzebę zrealizowania dodatkowych formalności, mogą odprawić się na lotnisku."
        p(class="akapit")=" Na lotnisku istnieją specjalne stanowiska odprawy, gdzie personel linii lotniczej pomaga w procesie odprawy."
        p(class="akapit")="Pasażerowie muszą okazać odpowiednie dokumenty, takie jak paszport i bilet lotniczy."
      div 
        p(class="akapit" style="text-align:center; font-size:50px;")="Bagaż rejestrowany:"
        p(class="akapit")="Podczas odprawy pasażerowie oddają bagaż, który zostanie przewieziony w luku bagażowym samolotu."
        p(class="akapit")="W przypadku podróży międzynarodowej mogą być wymagane dodatkowe dokumenty, takie jak wiza."
      div 
        p(class="akapit" style="text-align:center; font-size:50px;")="Dokumenty do odprawy:"
        p(class="akapit")="Pasażerowie muszą mieć ze sobą ważny bilet lotniczy oraz odpowiednie dokumenty tożsamości, takie jak paszport czy dowód osobisty."
      div 
        p(class="akapit" style="text-align:center; font-size:50px;")="Karta pokładowa:"
        p(class="akapit")="Po pomyślnej odprawie pasażer otrzymuje kartę pokładową, która zawiera informacje o locie, miejscu siedzącym, bramie odlotu itp."
        p(class="akapit")="Karta pokładowa może być w wersji papierowej lub elektronicznej, zależnie od preferencji i zasad linii lotniczej."